#map-container {
  height: 100%;
  width: 100%;
  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: black;

  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.shadow-top {
  box-shadow:
    0 -4px 6px -1px rgba(0, 0, 0, 0.1),
    0 -2px 4px -1px rgba(0, 0, 0, 0.06);
}

.pulse-marker {
  width: 18px;
  height: 18px;
  background-color: #ef4444; /* Tailwind red-500 */
  border-radius: 50%;
  position: relative;
}

.pulse-marker::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(239, 68, 68, 0.4);
  animation: pulse 1.4s infinite ease-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(2);
    opacity: 0.3;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
