
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: 'Inter', sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.mapboxgl-popup {
  max-width: none !important;
}

.mapboxgl-popup-content {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important; /* your Tailwind p-3 handles padding */
}

.mapboxgl-popup-tip {
  display: none !important; /* removes the arrow */
}
