@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Inter", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}



.mapboxgl-popup {
  max-width: none !important;
}

.mapboxgl-popup-content {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.mapboxgl-popup-tip {
  display: none !important;
}

.mapboxgl-popup-close-button {
  padding: 6px !important;
  border-radius: 6px !important;
  right: 6px !important;
  top: 6px !important;
}
